@import "../../../data/styles.css";

.project {
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
	height: 100%;
}

.project-container {
	padding: 30px;
}

.project-logo {
	width: 100%;
}

.project-logo img {
	width: 100%;
}


@media (max-width: 600px) {
	.project {
		height: 300px;
	}
}
